body{
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100vw; */
    height: 100vh;
    /* background-color: #3cc1f6 */
}
.singleCard{
    background-color: gray;
    margin: 50px;
    padding: 20px;
    border: 1px solid gray;
    box-shadow: 10px 10px 10px 10px;
}
.quote{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #fff;
}
.qute_author{
    float: right;
}
.buttons{
   margin: 20px;
}
.buttons button{
    background-color: #3498DB;
    margin: 10px;
    border-radius: 5px;
    font-size:large;
    text-decoration: solid;
    padding: 10px;
}